//
//  App-Release.xcconfig
//  CarRecognition
//
#include "../Carthage/Checkouts/xcconfigs/Targets/Application.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/Configurations/Release.xcconfig"
#include "App-Common.xcconfig"

_ENVIRONMENTS = ENV_PRODUCTION

_BUNDLE_IDENTIFIER = co.netguru.car.lens.release

_CODESIGN_DEVELOPMENT_TEAM = SK8PDF7SG9
_CODESIGN_IDENTITY = iPhone Distribution
_CODESIGN_PROFILE_SPECIFIER = CarLens Release
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
