//
//  App-Common.xcconfig
//  CarRecognition
//

#include "../Carthage/Checkouts/xcconfigs/Common/Common.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/Platforms/iOS.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/Targets/Application.xcconfig"

_BUILD_VERSION = 0.4
_BUILD_NUMBER = 1
_COMPILER_SWIFT_VERSION = 4.0

_BUNDLE_NAME = CarRecognition
_PRODUCT_NAME = CarLens
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/CarRecognition/Supporting Files/Info.plist
_BUNDLE_IDENTIFIER = co.netguru.car.recognition$(__PRODUCT_BUNDLE_IDENTIFIER_SUFFIX)

_DEPLOYMENT_TARGET_IOS = 11.0
_CODESIGN_STYLE = Manual
_CARTHAGE_BUILD_PATH = $(PROJECT_DIR)/Carthage/Build/iOS
_COMPILER_FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)

SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/CarRecognition/Supporting Files/Bridging-Header.h
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = SplashScreen
