//
//  App-Staging.xcconfig
//  CarLens
//
#include "../Carthage/Checkouts/xcconfigs/Targets/Application.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/Configurations/Debug.xcconfig"
#include "Pods/Target Support Files/Pods-CarLens/Pods-CarLens.staging.xcconfig"
#include "App-Common.xcconfig"

__PRODUCT_BUNDLE_IDENTIFIER_SUFFIX = .staging

_ENVIRONMENTS = ENV_STAGING

_CODESIGN_DEVELOPMENT_TEAM = 9HJ69C5G9K
_CODESIGN_IDENTITY = iPhone Distribution
_CODESIGN_PROFILE_SPECIFIER = CarRecognition Staging
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
