//
//  TestUI-Common.xcconfig
//  CarRecognition
//

#include "../Carthage/Checkouts/xcconfigs/Targets/Tests.xcconfig"
#include "App-Common.xcconfig"

__PRODUCT_BUNDLE_IDENTIFIER_SUFFIX = .test

_ENVIRONMENTS = ENV_TESTS
_BUNDLE_NAME = CarRecognitionUITests
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/CarRecognitionUITests/Info.plist

_CODESIGN_STYLE =
_CODESIGN_DEVELOPMENT_TEAM =
_CODESIGN_IDENTITY =
_CODESIGN_PROFILE_SPECIFIER =

TEST_TARGET_NAME = CarRecognition
